header {
    text-align: center;
    background-color: beige;
    color: black;
    align-items: center;
     }

.ejercico {
    background-color: aquamarine;
    text-align: center;
    color: black;
}

.tabla-scroll{
    align-items: center;
    background-color: black;
    color: cornsilk;
    text-align: center;
}
body {
    background-color: burlywood;
}