header {
    text-align: center;
    background-color: beige;
    color: black;
    align-items: center;
     }

.ejercico {
    background-color: aquamarine;
    text-align: center;
    color: black;
}

.tabla-scroll{
    align-items: center;
    background-color: black;
    color: cornsilk;
    text-align: center;
}
body {
    background-color: burlywood;
     align-content: center;
    align-items: center;
    text-align: center;
}
table{
    border-style: dashed;
    border-radius: 2cm;
}