* { 
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: peru;
    background-color: gray;

}

header{
    background-color: chartreuse;
    color: beige;
    padding: 1rem;
    text-align: center;
}

header a {
    color: brown;

}

main {
    max-width: 960px;

}

footer {
    text-align: center;
    color: darkmagenta;
    font-size: 24px;
}


.catalogo{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    text-align: center;
     align-content: center;
    align-items: center;
     flex-direction: row;
}

.tarjeta {
    background-color: blanchedalmond;
    border: 1px solid #e5e7eb;
    border-radius: 0.5rem;
    padding: 1rem;
}

.tarjeta h2{
    margin-top: 0;
    font-size: 1.1rem;

}
.tarjeta a{
    color: burlywood;
    text-decoration: none;
}

.tarjeta a:hover{
  text-decoration: underline;
}

.formulario-registro {
    background-color: aquamarine;
    color: darkturquoise;
}

input:hover{
    color: cornflowerblue;
    align-content: space-evenly;
    size: 230px;
}

button:hover{
    color: darkgoldenrod;
    background-color: cornflowerblue;
    size: 230px;
}
