* { 
    box-sizing: border-box;

}
body{
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    color: peru;
    background-color: aqua;

}

header{
    background-color: chartreuse;
    color: beige;
    padding: 1rem;
}